@using Tabemashou_Admin.Controllers
@using Tabemashou_Admin.Models
@{
    Layout = null;
    var identity = (HttpContext.Current.User as MyIdentity.MyPrincipal).Identity as MyIdentity;
}
<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/AdminLTE/dist/img/user.svg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@{
                    if (Request.IsAuthenticated)
                    {
                        <text>@string.Format("{0} {1}", identity.User.FirstName, identity.User.LastName)</text>
                    }
                }</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li id="left-sidebar-menu-dashboard" class="treeview">
                <a href="@Url.Action("Index", "Home")">
                    <i class="fa fa-chrome"></i> <span>Home</span>
                </a>
            </li>
            <li id="left-sidebar-menu-restaurant" class="treeview">
                <a href="@Url.Action("Index", "Restaurants")">
                    <i class="fa fa-cutlery"></i>
                    <span>Restaurants</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-shopping-cart"></i>
                    <span>Locals</span>
                    <i class="fa fa-angle-left pull-right"></i>
                    <ul class="treeview-menu">
                        @foreach (var menu in (new TabemashouEntities()).Restaurant.Where(m => m.IdAdmin == identity.User.IdCard))
                        {
                            <li id="left-sidebar-menu-locals-index"><a href="@Url.Action("Index", "Locals", new {id = menu.IdRestaurant})">
                                <i class="fa fa-circle-o"></i>
                                @menu.Name
                            </a></li>
                        }
                    </ul>
                </a>
            </li>

            <li class="header">LABELS</li>
            <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
        </ul>
    </section>
</aside>