@using Microsoft.AspNet.Identity
@using Tabemashou_Admin.Controllers
<li class="dropdown user user-menu">
    @if (Request.IsAuthenticated)
    {
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="~/AdminLTE/dist/img/user.svg" class="user-image" alt="User Image">
            <span class="hidden-xs">@User.Identity.Name</span>
        </a>
        <ul class="dropdown-menu">
            <li class="user-header">
                <img src="~/AdminLTE/dist/img/user.svg" class="img-circle" alt="User Image">
                <p>
                    @{
                        if (Request.IsAuthenticated)
                        {
                            var identity = (HttpContext.Current.User as MyIdentity.MyPrincipal).Identity as MyIdentity;
                            <text>@string.Format("{0} {1} {2} {3}", identity.User.FirstName, identity.User.MiddleName, identity.User.LastName, identity.User.SecondLastName)</text>
                        }
                    }
                </p>
            </li>
            
            <li class="user-footer">
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                {

                    <div class="pull-left">
                        @Html.ActionLink("Profile", "UserProfile", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-flat", title = "Manage" })
                    </div>
                    <div class="pull-right">
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                }
            </li>
        </ul>
    }
    else
    {
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
</li>