@using WebApplication.Models
@model WebApplication.Models.RegisterRestaurantModel

@{
    
    ViewBag.Breadcrumb = new Breadcrumb(new []{
        new Crumb("Restaurant", "Index", "fa-cutlery"),
        new Crumb("Create", "", ""),

    });
}

@Styles.Render("~/AdminLTE/plugins/select2/css")
@Styles.Render("~/AdminLTE/dist/css")

@if (!ViewContext.ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-ban"></i> Error!</h4>
        @Html.ValidationSummary("", new { @class = "text" })
    </div>
}
<div class="col-md-12">
    <div class="box box-solid box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Register a new Restaurant</h3>
            <div class="box-tools pull-right">
            </div>
        </div>
        <div class="box-body">
    @using (Html.BeginForm("Create", "Restaurants", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Logo</h3>
                        <div class="box-tools pull-right">
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group col-md-12">
                                <img class="img-responsive" id="preImage" OnClick="uploadImage();" style="cursor: pointer" src="~/Images/RestaurantLogos/default.png"/>
                                <input style="visibility: hidden" accept=".jpg,.jpeg,.png" type="file" name="image" id="image"> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="box box-solid box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Information</h3>
                        <div class="box-tools pull-right">
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-8">
                            <div class="form-group row">
                                @Html.LabelFor(model => model.restaurant.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.restaurant.Name, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.restaurant.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @Html.ListBoxFor(m => m.restTypesId, new SelectList((new TabemashouEntities()).Type, "IdType", "Name"))
                                </div>
                                <div class="col-md-2">
                                    <button type="button" data-toggle="modal" data-target="#modalAddType" class="btn btn-block btn-success">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <a class="btn btn-default" href="@Url.Action("Index", "Restaurants")">Back to List</a>
            <button type="submit" value="Submit" class="btn btn-info pull-right">Submit</button>
            
        </div>

        }
        </div>
    </div>
</div>




<div class="modal" id="modalAddType">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title"> Create a Type</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.tipos.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.tipos.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" id="createType" class="btn btn-primary">Create</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/Restaurants/Create")
    @Scripts.Render("~/AdminLTE/plugins/select2/js")
}
