@model Tabemashou_Admin.Models.DishesViewModels

<div class="box box-solid box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Menu
        </h3>
        <div class="box-tools pull-right">
            <a href="@Url.Action("Create", "Dishes", new { id = Model.restaurant.IdRestaurant})" class="btn btn-box-tool" ><i class="fa fa-plus"></i></a>
        </div><!-- /.box-tools -->
    </div><!-- /.box-header -->
    <div class="box-body">
        <div style="overflow-y: auto; max-height: 666px ">
            @foreach (var item in Model.dishes)
            {
                <div class="box box-primary collapsed-box">
                    <div class="box-header with-border">
                        <h3 class="box-title">@item.Name</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div><!-- /.box-tools -->
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        @item.Description
                        
                        <div class="btn-group pull-right">
                            <a class="btn btn-xs btn-primary" href="@Url.Action("Edit" , "Dishes", new { id = item.IdDish})">
                                <i class="fa fa-edit"></i>
                                </a>
                            <a class="btn btn-xs btn-danger" data-toggle="modal" data-target="#modalDeleteDish" data-dishName="@item.Name" data-dishId="@item.IdDish">
                                <i class="fa fa-trash"></i>
                            </a>
                            <a class="btn btn-xs btn-warning" href="">
                                <i class="fa fa-eye"></i>
                            </a>

                        </div><!-- /.box -->
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
                

            }    
        </div>
    </div>
</div>

<div class="modal modal-danger" id="modalDeleteDish">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <form id="deleteForm" action="" method="post">
                <div class="modal-body">
                    <p>Bruh .. do you even wanna delete this shit ? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-outline">Delete</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@section Scripts {
    @Scripts.Render("~/Scripts/Dishes/Index")
}
