@using Tabemashou_Admin.Models
@model localRegister

@{
    ViewBag.Title = "Restaurants";
    ViewBag.Breadcrumb = new Breadcrumb(new[] {
        new Crumb("Restaurants", @Url.Action("Index","Restaurants"), "fa-cutlery"),
        new Crumb(Model.restaurant.Name, @Url.Action("Index", "Locals", new { id = Model.restaurant.IdRestaurant }), ""),
        new Crumb("Create new Local"), 
    });
}



@Styles.Render("~/AdminLTE/plugins/select2/css")
@Styles.Render("~/AdminLTE/plugins/fileUpload/css")

    <div class="box box-solid box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Register a new Local</h3>
            <div class="box-tools pull-right">
            </div>
        </div>
        <div class="box-body">
            @using (Html.BeginForm("Create", "Locals", FormMethod.Post, new { enctype = "multipart/form-data" , data_ajax = "false" }))
            {
                @Html.HiddenFor(model => model.idRestaurant)
                <div class="row">
                    <div class="col-md-5">
                        <div class="box box-solid box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Information</h3>
                                <div class="box-tools pull-right">
                                </div>
                            </div>
                            <div class="box-body row">
                                <div class="form-group col-md-12 row">
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.local.Detail, new {@class = "control-label col-md-2"})
                                    </div>
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.local.Detail, new {htmlAttributes = new {@class = "form-control"}})
                                    </div>
                                </div>
                                <div class="form-group col-md-12 row">
                                    <div class="col-md-3">
                                        @Html.Label("District", new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(model => model.local.IdDistrict, new SelectList((new TabemashouEntities()).PR_GetDistricts(), "IdDistrict", "Name"))
                                    </div>
                                </div>
                                <div class="form-group col-md-12 row">
                                    <div class="col-md-3">
                                        @Html.Label("Tables", new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.cantMesas, new { htmlAttributes = new { @class = "form-control" , @Value = 1} })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-solid box-primary">
                            <div class="box-header">
                                <i class="ion ion-clipboard"></i>
                                <h3 class="box-title">Menu</h3>
                            </div>
                            <div class="box-body" style="overflow-y: auto; max-height: 252px;">
                                <ul class="todo-list">
                                    @for (int i = 0 ; i< Model.menu.Count; i++)
                                    {
                                        <li class="">
                                            @Html.CheckBoxFor(model => model.menu[i].state)
                                            @Html.HiddenFor(model => model.menu[i].idDish)
                                            <span class="text">@Model.menu[i].dish.Name</span>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="box box-solid box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">Location</h3>
                                <div class="box-tools pull-right">
                                </div>
                            </div>
                            <div class="box-body row">
                                <div class="col-md-12">
                                    @Html.Editor("searchMap", new { htmlAttributes = new { @class = "form-control" } })
                                    <div id="Mapau" style="width: 100%; height: 420px;"></div>
                                    @Html.HiddenFor(model => model.local.Latitude, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.HiddenFor(model => model.local.Longitude, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-solid box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Photos</h3>
                                <div class="box-tools pull-right" id="filecontainer">
                                    @Html.HiddenFor(model => model.uploadFilesNames)
                                    <input type="file" name="files[]" id="uploadFiles" accept=".jpg,.jpeg,.png" multiple/>
                                </div>
                            </div>
                            <div class="row timeline-body" id="contentImages"></div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <a class="btn btn-default" href="@Url.Action("Index", "Locals", new { id = Model.restaurant.IdRestaurant })">Back to List</a>
                    <button type="submit" value="Submit" class="btn btn-info pull-right">Submit</button>

                </div>
            }
        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/Scripts/Locals/Create")
    @Scripts.Render("~/Scripts/Locals/geocomplete")
    @Scripts.Render("http://maps.google.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyB5X6uRx6dH760xD31ytAdVGBZbEbXRrJM")
    @Scripts.Render("~/AdminLTE/plugins/select2/js")
}


