@model List<Tabemashou_User.Models.Review>
@{
    ViewBag.Title = "Home";
    ViewBag.SubTitle = "Index";

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("Index", "", "fa-dashboard")
    });
}

@section Menu {
    @Styles.Render("~/AdminLTE/plugins/bootstrap-star-rating/css")
}
@foreach (var post in Model)
{
    <ul class="timeline">

        <li class="time-label">
            <span class="bg-red">
                @post.Date.ToString("MMMM dd yyyy")
            </span>
        </li>
        <!-- /.timeline-label -->
        <!-- timeline item -->
        <li>
            <i class="fa fa-pencil bg-blue"></i>
            <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> @{Html.RenderAction("TimeAgo", "Home", new { dt = post.Date });} </span>
                <div class="box-header with-border">
                    <div class="user-block">
                        <img class="img-circle" src="@Url.Action("ShowPhotoProfile","Common",new {id = post.IdCustomer})" alt="User Image">
                        <span class="username"><a href="@Url.Action("Profile","Social", new {id = post.IdCustomer})">@post.Customer.User.FirstName @post.Customer.User.LastName</a></span>
                        <span class="description">&#64;@post.Customer.User.Username</span>
                    </div>
                   
                </div>
                <h3 class="timeline-header">At <a href="#">@post.Check.Local.Restaurant.Name</a> @post.Check.Local.District.Canton.Province.Name - @post.Check.Local.District.Canton.Name - @post.Check.Local.District.Name</h3>

                <div class="timeline-body">
                    <div>
                        <p>
                            <dl class="dl-horizontal">
                                <dt>Price:</dt>
                                <dd>
                                    <input class="rating" data-min="0" data-max="5" data-step="1" data-size="xxs" value="@post.Price">
                                </dd>
                            </dl>
                        </p>
                        <p>
                            <dl class="dl-horizontal">
                                <dt>Quality:</dt>
                                <dd>
                                    <input class="rating" data-min="0" data-max="5" data-step="1" data-size="xxs" value="@post.Quality">
                                </dd>
                            </dl>
                        </p>
                        <p>
                            <div class="box box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Description</h3>
                                </div>
                                <div class="box-body">
                                    <blockquote>
                                        <p>@post.Description</p>
                                    </blockquote>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
}

@section Scripts {
    @Scripts.Render("~/Scripts/Home/Index")
    @Scripts.Render("~/AdminLTE/plugins/bootstrap-star-rating/js")
}
