@using System.Reflection.Emit
@using Microsoft.Ajax.Utilities
@using Tabemashou_User.Models
@model Tabemashou_User.Models.ProfileModel
@{
    ViewBag.Title = "Profile";
    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("Account", "", "fa-dashboard")
    });

}

@Styles.Render("~/AdminLTE/plugins/datepicker/css")
@Styles.Render("~/AdminLTE/dist/css")
@Styles.Render("~/AdminLTE/plugins/bootstrap-star-rating/css")

<div class="row">
<div class="col-md-3">
    <div class="box box-primary">
        <div class="box-body box-profile">
            <img src="@Url.Action("ShowProfilePicture", "Social", new {id = Model.IdCard})" class="img-responsive" alt="User Image" id="preImage" >
            <h3 class="profile-username text-center"> @Model.FirstName @Model.LastName </h3>
            <p class="text-muted text-center">&#64;@Model.Username</p>
            <button type="button" id="followButton" class="btn btn-block btn-primary" onclick="Follow(@Model.IdCard)">Follow</button>
            <button id="unfollowButton" type="button" class="btn btn-block btn-default" onclick="Unfollow(@Model.IdCard)"><i class="fa fa-fw fa-check"></i>Unfollow</button>
            <br>
            <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                    <b>Followers</b> <a class="pull-right">@Model.Followers</a>
                </li>
                <li class="list-group-item">
                    <b>Following</b> <a class="pull-right">@Model.Following</a>
                </li>
                <li class="list-group-item">
                    <b>Reviews</b> <a class="pull-right">@Model.Reviews</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-md-9">
<div class="nav-tabs-custom">
<ul class="nav nav-tabs">
    <li class=""><a href="#activity" data-toggle="tab">Activity</a></li>
    <li class=""><a href="#about" data-toggle="tab">About</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="activity">
        @foreach (var review in Model.Timeline)
        {
            <div class="post">
                <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="@Url.Action("ShowRestLogo","Common", new { id = review.Check.Local.Restaurant.IdRestaurant})" alt="Rest Photo">
                    <span class="username">
                        <a href="#">@review.Check.Local.Restaurant.Name</a>
                    </span>
                    <span class="description">@review.Date.ToString("dddd, dd MMMM yyyy HH: mm")</span>
                </div>
                <div>
                    
                    <div>
                        <p>
                            <dl class="dl-horizontal">
                                <dt>Price:</dt>
                                <dd>
                                    <input class="rating" data-min="0" data-max="5" data-step="1" data-size="xxs" value="@review.Price">
                                </dd>
                            </dl>
                        </p>
                        <p>
                            <dl class="dl-horizontal">
                                <dt>Quality:</dt>
                                <dd>
                                    <input class="rating" data-min="0" data-max="5" data-step="1" data-size="xxs" value="@review.Quality">
                                </dd>
                            </dl>
                        </p>
                        <p>
                            <div class="box box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Description</h3>
                                </div>
                                <div class="box-body">
                                    <blockquote>
                                        <p>@review.Description</p>
                                    </blockquote>
                                </div>
                            </div>

                        </p>
                    </div>
                </div>
            </div>
        } 
    </div>
    <div class="tab-pane " id="about">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">About Me</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <strong><i class="fa glyphicon glyphicon-user margin-r-5"></i> Name</strong>

                <p class="text-muted">
                    &emsp; &emsp; @Model.FirstName @Model.MiddleName @Model.LastName @Model.SecondLastName
                </p>

                <hr>

                <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

                <p class="text-muted">&emsp; &emsp;@Model.Nationality</p>

                <hr>

                <strong><i class="fa fa-birthday-cake margin-r-5"></i> Birth</strong>

                <p class="text-muted">&emsp; &emsp;@Model.Birth</p>
                <hr>
                <strong><i class="fa fa fa-venus-mars margin-r-5"></i> Gender</strong>
                <p class="text-muted">&emsp; &emsp;@Model.Gender</p>

            </div>
            <!-- /.box-body -->
        </div>
    </div>   
</div>
</div>
</div>
</div>

<script>
    var idUser = @Model.IdCard;
</script>


@section Scripts {    
    @Scripts.Render("~/AdminLTE/plugins/datepicker/js")
    @Scripts.Render("~/Scripts/Social/Profile")
    @Scripts.Render("~/AdminLTE/plugins/icheck/js")
    @Scripts.Render("~/AdminLTE/plugins/bootstrap-star-rating/js")
}

