@model WebApplication.Models.Dish

@{
    ViewBag.Title = "Edit a Dish";
    ViewBag.Breadcrumb = new Breadcrumb(new[]{
        new Crumb("Restaurants", @Url.Action("Index","Restaurants"), "fa-cutlery"),
        new Crumb(Model.Restaurant.Name, @Url.Action("Index", "Locals", new { id = Model.IdRestaurant })),
        new Crumb("Menu", "","fa-spoon"),
        new Crumb(Model.Name, "", ""),

    });
}

@if (!ViewContext.ViewData.ModelState.IsValid )
{
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-ban"></i> Error!</h4>
        @Html.ValidationSummary("", new { @class = "text" })
    </div>
}

<div class="col-md-12">
    <div class="box box-solid box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Register a new Dish</h3>
            <div class="box-tools pull-right">
            </div>
        </div>
        <div class="box-body">
            @using (Html.BeginForm("Edit", "Dishes", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-4">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Photos</h3>
                                <div class="box-tools pull-right">
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group col-md-12">
                                        <img class="img-responsive" id="preImage" OnClick="uploadImage();" style="cursor: pointer" src="~/Images/RestaurantLogos/default.png"/>
                                        <input style="visibility: hidden" type="file" name="image" id="image"> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="box box-solid box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Information</h3>
                                <div class="box-tools pull-right">
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="col-md-8">
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <a class="btn btn-default" href="@Url.Action("Index", "Locals", new {id = Model.IdRestaurant})">Back to List</a>
                    <button type="submit" value="Submit" class="btn btn-info pull-right">Submit</button>
                </div>
            }
        </div>
    </div>
</div>