@using Tabemashou_User.Models
@model userCheck

@Styles.Render("~/AdminLTE/plugins/datatables/css")

@using (Html.BeginForm("Register", "Checks", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-5">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">@Model.CheckRestaurant.Name</h3>
                </div>
                <div class="row box-body">
                    <div class="col-md-4">
                        <img class="img-responsive" src="@Url.Action("ShowRestLogo", "Common", new {id = Model.CheckRestaurant.IdRestaurant})"/>
                    </div>
                    <div class="col-md-8">
                        @Html.HiddenFor(model => model.UserDishes)
                        @Html.HiddenFor(model => model.Code)
                        @Html.HiddenFor(model => model.CheckLocal.IdLocal)
                        <h3>Code: @Model.Code</h3>
                        <p>
                            Local @Model.CheckLocal.Name <br/>
                            @Model.DistrictCompeteName <br/>
                            Table: @Model.CheckTable.DistinctiveName
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Check</h3>
                    <button type="submit" class="btn btn-sm btn-success pull-right fa fa-check-square-o"></button>
                </div>
                <div class="box-body table-responsive" style="overflow-x: hidden;">
                    <table id="table" class="table table-hover">
                        <thead>
                        <tr>
                            <th>Qty</th>
                            <th>Product</th>
                            <th>Description</th>
                            <th>Subtotal</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="destiny-products"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Menu</h3>
                    <a class="btn btn-primary pull-right fa fa-filter" data-toggle="modal" data-target="#modalFilter" ></a>
                </div>
                <div class="row box-body">
                    
                    @foreach (DishesPerLocal dish in Model.CheckLocal.DishesPerLocal.Where(m => m.State))
                    {
                        <div class="col-md-4 filter-menu" data-filter="@string.Join(",", dish.Dish.Type.Select(m => m.IdType))" data-filter-default="@string.Join(",", dish.Dish.Type.Select(m => m.IdType))">

                            <div class="box box-solid box-success">
                                <div class="box-header with-border">
                                    <h3 class="box-title" id="name_@dish.IdDish">
                                        @dish.Dish.Name
                                    </h3>
                                    <a class="btn btn-xs pull-right fa fa-plus" OnClick="addDish(this)" dish-price="@dish.Dish.Price" dish-id="@dish.IdDish"></a>
                                </div>
                                <div class="box-body">
                                    <div id="carousel_@dish.IdDish" class="carousel slide" data-ride="carousel" style="max-width: 50%; margin: 0 auto">
                                        <ol class="carousel-indicators">
                                        @for(int i =0; i < dish.Dish.Photo.Count; i++)
                                        {
                                            <li data-target="#carousel_@dish.IdDish" data-slide-to="@i" class="@((i==0)?"active":"")"></li>
                                        }
                                        </ol>
                                        <div class="carousel-inner">
                                            @for(int i =0; i < dish.Dish.Photo.Count; i++)
                                            {
                                                <div class="item @((i==0)?"active":"")">
                                                    <img src="@Url.Action("ShowPhoto","Common", new {id = dish.Dish.Photo.ToArray()[i].IdPhoto})">
                                                </div>
                                            }
                                        </div>
                                        <a class="left carousel-control" href="#carousel_@dish.IdDish" data-slide="prev">
                                            <span class="fa fa-angle-left"></span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel_@dish.IdDish" data-slide="next">
                                            <span class="fa fa-angle-right"></span>
                                        </a>
                                    </div>
                                    <br/>
                                    <p id="desc_@dish.IdDish">@dish.Dish.Description</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}




<div class="modal" id="modalFilter">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Filter Dishes</h4>
            </div>
            <form id="deleteForm" action="" method="post">
                <div class="modal-body row">
                    @foreach (Tabemashou_User.Models.Type type in Model.types)
                    {
                        <div class="col-md-4">
                            <h4>@type.Name</h4>
                            <input type="checkbox" onclick="filterMenu(this)" id-type="@type.IdType" checked data-toggle="toggle">
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Salir</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/Scripts/Checks/Create")
    @Scripts.Render("~/AdminLTE/plugins/datatables/js")
}
