@model IEnumerable<Tabemashou_User.Models.Check>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Styles.Render("~/AdminLTE/plugins/datatables/css")
    
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Checkout</h3>
    </div>
    <div class="box-body">
        <table id="checkout" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>@Html.DisplayName("Restaurant")</th>
                <th>@Html.DisplayNameFor(model => model.Balance)</th>
                <th>@Html.DisplayNameFor(model => model.State)</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Local.Restaurant.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Balance)</td>
                    <td>@Html.DisplayFor(modelItem => item.State)</td>
                    <td>
                        @Html.ActionLink(" ", "Edit", new {id = item.IdCheck}, new { @Class = "btn btn-sm btn-danger fa fa-ban", @Title = "Cancel"})
                        @Html.ActionLink("  ", "Pay", new {id = item.IdCheck}, new { @Class = "btn btn-sm btn-success fa fa-dollar", @Title = "Pay"})
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
    


@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/datatables/js")
    @Scripts.Render("~/Scripts/Checks/Table")
}